:root {
    --primary: #00b9ff;
    --secondary: #171d66;
    --tertiary: #6c757d;
    --surface: #f8f9fa;
    --on-primary: #fff;
    --on-surface: #343a40;
    --border: #d3d3d3;
    --background: #efefef;
    --disabled: 0.45;
}


main {
    background-color: var(--background);
    height: 100%;
}

.card {
    background: var(--surface);
    border: solid 1px var(--border);
    box-shadow: 0.5px 0.5px 5px hsl(0, 0%, 83%);
    padding: 0.3rem;
    box-sizing: border-box;
    overflow: hidden;
}

h1,
h2,
h3 {
    color: var(--secondary);
}

input[type=text],
input[type=password] {
    border: 1px solid var(--border);
    background: var(--surface);
    min-height: 2rem;
    padding: 0.5rem;
}

input[type=text]:focus,
input[type=password]:focus {
    box-shadow: 0px 0px 4px 2px var(--primary);
    border-color: var(--primary);
    outline: none;
}

input[type=range] {
    background: var(--primary);
    outline: none;
}

input[type=range] {
    all: unset;
    border-radius: 20px;
    background: var(--surface);
    outline: none;
    border: 0.5px solid var(--border);
    padding: 2px;
}

input[type=range]:hover {
    box-shadow: 0px 2px 2px var(--border)
}

input[type=range]::-webkit-slider-thumb {
    appearance: none;
    background: var(--primary);
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

input[type=range]::-webkit-slider-thumb:hover {
    filter: brightness(1.1);
}

button {
    all: unset;
    background-color: var(--primary);
    color: var(--on-primary);
    outline: none;
    box-shadow: none;
    text-transform: uppercase;
    padding: 0.5rem;
    box-sizing: border-box;
}

button:hover {
    filter: brightness(1.1);
}

button:disabled {
    opacity: var(--disabled);
    filter: inherit;
}